<form asp-action="index">
  <label for="Qname">FullName</label><br>
  <input type="text" id="Qname" name="Qname" value=""><br>
  <label for="eplID">Ma Nhan Vien</label><br>
  <input type="text" id="eplID" name="eplID" value=""><br><br>
  <label for="Email">Email</label><br>
  <input type="text" id="Email" name="Email" value=""><br>
  <input type="submit" value="Send Data">
  <input type="reset" value="Reset">
</form> 
<h1>@ViewBag.thongBao</h1>