
<form asp-action="index">
  <label for="PersonId">PersonId</label><br>
  <input type="text" id="PersonId" name="PersonId" value=""><br>
  <label for="FullName">FullName</label><br>
  <input type="text" id="FullName" name="FullName" value=""><br><br>
  <label for="Address">Address</label><br>
  <input type="text" id="Address" name="Address" value=""><br>
  <input type="submit" value="Send Data">
  <input type="reset" value="Reset">
</form> 
<h1>Du lieu tu controller gui ve la: @ViewBag.thongBao</h1>c

@* Nguyen Hong Quan *@